:root {
	--main-bg-color: pink;
}

body {
	background-color: var(--main-bg-color);
}
  
.div {
	resize:both;
	overflow:auto;
}

button {
	background-color:var(--white);
	color:var(--blue);
	border:var(--value);
	padding:5px 25px 4rem;
}

#div1 {
	position:absolute;
	left:50px;
	width:calc(100% - 100px);
	border:1px solid black;
	background-color:yellow;
	padding:5px;
	text-align:center;
	background-image:url('Unit.jpg');
}

li:first-child {
	background:yellow;
}

.class:nth-child(2) {
	background:red;
}

div[class^="test"] {
	background: #ffff00;
}

#main,
.content,
article,
h1 + p {
	font-size: 1.1em;
}

:is(h1, h2:maybe-unsupported, h3) {
	font-family: sans-serif;
}

img ~ p {
	color: red;
}

a[href*="insensitive" i] {
	color: cyan;
}

a[href*="cAsE" s] {
	color: pink;
}
  
/* Links that end in ".org" */
a[href$=".org"] {
	color: red;
}
  
/* Links that start with "https" and end in \".org"\ */
a[href^="https"][href$=".org"] {
	color: green;
}

div[data-lang="zh-Hant-TW"] {
	color: purple;
}

p::first-line {
	color: blue;
	text-transform: uppercase;
}


ul.my-things > li {
	margin: 2em;
}

@keyframes mymove {
	from {
		top: 0px;
	}

	to {
		top: 200px;
	}
}

@supports not selector(:has(a, b)) {
	/* Fallback for when :has() is unsupported */
	ul > li,
	ol > li {
	/* The above expanded for browsers that don't support :has(…) */
	}
}

@supports (transform-style: preserve) or (-moz-transform-style: preserve) {
}

@media not (not (transform-origin: 2px)) {
}

@namespace example url(http://www.example.com);
	example|h1 {
		color: blue;
	}

#recursive_function {
	-moz-image-rect(url(), top, right, bottom, left);
}

:is(:valid, :unsupported) {
	/* … */
}

:not(<complex-selector-list>) {
	/* ... */
}

















@charset "utf-8";
@import url("/**/landscape.css") screen and (orientation: landscape);


@supports (display: flex) /*"asd"*/ {
	@media screen and /*"asd"*/
		(min-width: 900px) {
		:root,  *,
		.nested > div:not(:first-child, :last-child),
		#id-selector [name=Xtreme_C4se-but]  ,/*"asd"*/
		p::first-line /*"asd"*/,
		[attr] [attr=value /*"asd"*/] ~ [attr~=value] [attr|=value] +
		[attr^=value] [attr$='value'] [attr*="value"] {
			--my-variable: 100%;
			grid-template-areas:
				"header header \" header;"
				"{sidebar {content} content}"
				"sidebar {content} content"
				'footer footer \' footer';
			text-shadow:
				2px 2px 2px #000000,
				-2px -2px 2px #ffffff;
			background-image: url("image1.jpg"),
				url('image2.jpg');
			width: calc(var(--my-variable) + 20px);
			color  : red  ;
			background-color: blue
		}
	}
}

dt:has(+ img) ~ dd {...}

@counter-style
thumbs
{
	system: cyclic;
	symbols: "\1F44D";
	suffix: " ";
}

@font-face /*"asd"*/ {
	font-family: "Trickster";
	src: local("Trickster"),
	url("trickster-COLRv1.otf") /*comment*/format("opentype") tech(color-COLRv1), url("trickster-outline.otf")
	format(/*comment*/"opentype"), url("trickster-outline.woff") format("woff");
}

@keyframes important1 /*"asd"*/ {
	from
	{
		margin-top: 50px/*comment*/;
	}
	50% {
		margin-top: 150px !important;
	} /* ignored
	continue comment */
	to {
		margin-top: /*comment*/100px;
	}
}

@layer base, special;

@layer special {
	.item {
		color: rebeccapurple;
	}
}
